button {
  width: 88px;
  height: 88px;

  font-size: 30px;

  border: transparent;
  border-radius: 50px;

  color: #FFFFFF;
}

button:hover {
  opacity: 0.6;
}

.layout {
  width: 100%;

  display: flex;
  justify-content: center;
}

.container {
  width: 430px;
  height: 925px;

  display: flex;
  padding: 17px 17px 73px 17px;

  background-color: #000000;
  border-radius: 20px;
}

.main {
  display: flex;
  align-items: flex-end;

  position: relative;
}

.numbers {
  width: 306px;

  display: flex;
  flex-wrap: wrap-reverse;
  gap: 14px;
}

.numbers button {
  background-color: #333333;
}

.numbers button:nth-child(1) {
  width: 190px;
}

.calculations {
  display: flex;
  gap: 14px;
  flex-direction: column;
}

.calculations button {
  background-color: #F1A33B;
}

.clear {
  position: absolute;
  top: 340px;
}

.clear button {
  background-color: #A5A5A5;
  color: #000000;
}

.output {
  position: absolute;
  right: 0;
  top: 240px;

  font-size: 40px;
  color: #fff;
}
